<header class="container">
  <nav>
    <div />
    <ul>
      <li><a role="button" href="/pricing">Pricing</a></li>
      <li><a role="button" href="/register">Create account</a></li>
    </ul>
  </nav>
</header>

<main class="container">
  <slot />
</main>
