<h1 style="margin: 3rem auto 1rem; color: gray; text-align: center">Piping Day</h1>
<h6 style="margin-left: 4rem; text-align: center;">Is Every Day!</h6>

<picture style="opacity: 85%;">
  <img width="100%" src="/C1_Dawning_of_the_Day.svg" alt="Dawning of the Day" />
</picture>
